DWH_Assignment_Nehal_20231219_20230213/Air_Quality.xsd

<?xml version="1.0"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="AirQualityData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" name="Record">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" name="StationID" type="xs:string" />
              <xs:element minOccurs="0" name="City" type="xs:string" />
              <xs:element minOccurs="0" name="Time" type="xs:dateTime" />
              <xs:element minOccurs="0" name="PM25" type="xs:short" />
              <xs:element minOccurs="0" name="PM10" type="xs:unsignedShort" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>